[submodule "extern/RFdiffusion"]
	path = extern/RFdiffusion
	url = https://github.com/RosettaCommons/RFdiffusion
[submodule "extern/ProteinMPNN"]
	path = extern/ProteinMPNN
	url = https://github.com/dauparas/ProteinMPNN
